@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

body{
	font-family:monospace;
	background-image: url("pict/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: fuchsia;
    padding: 0;
}

a:link {
    color: #FFF;
    text-decoration: none;
}
a:visited {
    color: #FFF;
    text-decoration: none;
}
a:hover {
    color: #D0D0D0;
    text-decoration: none;
}
a:active {
    color: #DFDFD0;
    text-decoration: none;
}

.obl{
    position: absolute;
    top: 12%;
    width:20%;
    background-color: darkmagenta;
    text-align: center;
}

.score{
    font-size: 20pt;
    font-family: Pattaya;
    color: lightpink;
}

.main_menu{
    width: 45%;
    height: 60%;
    background-color: darkmagenta;
    position: absolute;
    left:27.5%;
    top: 12%;
    text-align: center;
    padding-top: 3%;
}

.main_menu_button{
    display: block;
    height: 20%;
    width: 90%;
    border: 1px solid lightpink;
    position: relative;
    margin: 0 auto 10% auto;
    text-align: center;
}

.main_menu_button_1{
    display: inline-block;
    height: 20%;
    width: 45%;
    border: 1px solid lightpink;
    position: relative;
    margin: 0 auto 10% auto;
    text-align: center;
}

.main_menu_button_text{
    margin: 5% auto;
    font-size: 30pt;
    font-family: Pattaya;
    color: lightpink;
}

.adder_name{
    display: inline-block;
    font-size: 18pt;
    font-family: Pattaya;
    color: lightpink;
    margin-left: 15px;
}

.adder_button{
    display: inline-block;
}

.field{
	/*background-color: #785dfa;*/
	height:455px;
	width: 605px;
    margin: 60px auto 0 auto;
    /*border: 2px solid green;*/
}
.block{
	width: 200px;
	height: 200px;
    float: left;
    border: 3px solid fuchsia;
	/*background-color:#f8f9fa;*/
	box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center;
    /*font-size: 100;*/
    /*font-family: Comic Sans MS;*/
    font-weight:bold;
    font-size: 12rem;
}
.text{
    font-family: Pattaya;
    color: lightpink;
    text-align: center;
    font-weight:bold;
    position: absolute;
    font-size: 40pt;
}

#info{
    font-size: 18pt;
    font-family: Pattaya;
    color: lightpink;
    margin: 0 auto 15px auto;
}

.butt{
    font-size: 16pt;
    margin-top: 5px;
    font-family: Pattaya;
    background-color: darkmagenta;
    color: lightpink;
}